:root {
    --bg-primary:#F13C6E;
    --bg-secondary:#EFEFEF;
    --container-size: 1110px;
    --basic-space: 1rem;
}


html {
    font-family: "Roboto" , sans-serif;
    color: #000000;
}

.flex {
    display: flex;
}

.items-center{
    align-items: center;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: calc(var(--container-size) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-screen {
    background-color: var(--bg-secondary);
    padding-top: 17px;
    padding-bottom: 16px;
}

.menu-link {
    color: #333333;
    font-size: 14px;
}


.menu-two-link {
    color: #000000;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 420px) {
    .menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    justify-content: center;
    padding: 0;
    }

.menu-item:nth-child(-n+2) {
    grid-column: span 3;
}

.menu-item:nth-child(n+3) {
    grid-column: span 2;
}

.menu-item {
    text-align: center;
}

.fw-px {
    font-size: 13px;
}
}

img {
    display: block;
    max-width: 100%;
}

.logo-and-beauty {
    display: flex;
    gap: 20px;
    align-items: center;
}

@media (max-width: 420px) {
    .logo-and-beauty {
        justify-content: center;
    }
}

.logo {
    max-width: 80px;
    min-height: 80px;
}

.beauty {
    font-weight: 700;
    font-size: 36px;
    color: var(--bg-primary);
}

.top-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .top-menu {
        flex-direction: column;
        gap: 30px;
    }
}

.main-screen-two {
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-two {
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .menu-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center;
    padding: 0;
    }
}

.menu-item-two + .menu-item-two {
    margin-left: 40px;
}

@media (max-width: 420px) {
    .menu-item-two + .menu-item-two {
    margin-left: 10px;
    }

    .m-sixty {
        margin-left: -60px;
    }
    .m-ts {
        margin-left: -26px;
    }
    .m-ot {
        margin-left: -12px;
    }

    .menu-item-two {
        text-align: center;
    }

    .menu-two-link {
        font-size: 15px;
    }
}

.sale {
    width: 100%;
    background-image: url('../Group.png');
    padding-block: 190px;
}

@media (max-width: 1440px) {
    .sale {
        width: 100%;
        background-image: url('../Group.png');
        background-size: cover;
        background-position: center;
        padding-block: 174px;
    }
}

@media (max-width: 1024px) {
    .sale {
        width: 100%;
        background-image: url('../Group.png');
        background-size: cover;
        background-position: center;
        padding-block: 90px;
    }
}

@media (max-width: 768px) {
    .sale {
        width: 100%;
        background-image: url('../Group.png');
        background-size: cover;
        background-position: center;
        padding-block: 50px;
    }
}

@media (max-width: 420px) {
    .sale {
        width: 100%;
        background-image: url('../Group.png');
        background-size: cover;
        background-position: center;
        padding-block: 14px;
    }
}

.sale-bg-image {
    width: 100%; 
}

.super-chair {
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .super-chair {
    font-weight: 600;
    font-size: 37px;
    }
}

@media (max-width: 420px) {
    .super-chair {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 34px;
    }
}

.t-sales {
    max-width: 308px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .t-sales {
        font-size: 12px;
        max-width: 240px;
        margin-bottom: 40px;
    }
}

@media (max-width: 420px) {
    .t-sales {
        font-size: 12px;
        max-width: 154px;
        margin-bottom: 34px;
    }
}

.more-btn {
    min-width: 170px;
    color: #FFFFFF;
    border-radius: 40px;
    background-color: var(--bg-primary);
    border: 2px solid;
    border-color: #FFFFFF;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (max-width: 768px) {
    .more-btn {
        background: transparent;
    }
}

@media (max-width: 768px) {
    .more-btn {
        font-size: 12px;
        padding: 10px 12px;
        min-width: 140px;
    }
}

.special-offers {
    padding-top: 80px;
    background-color: var(--bg-secondary);
    padding-bottom: 100px;
}

.s-offer {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  max-width: 319px;
}

.card-container {
    margin-top: 38px;
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .card-container {
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 420px) {
    .card-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

.chair-card {
    width: 100%;
    background: #FFFFFF;
    max-width: 255px;
    text-align: center;
    padding: 25px 30px;
}

.chair-card img {
    display: block;
    max-width: 125px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-weight: 400;
    font-size: 14px;
}

.price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}

.buy-button {
  background: var(--bg-primary);
  color: white;
  border: none;
  font-weight: 400;
  font-size: 14px;
  padding: 9px 39px;
  border-radius: 30px;
}

.double-card-container {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    margin-bottom: 99px;
}

@media (max-width: 768px) {
    .double-card-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .double-card-container {
        gap: 25px;
    }

    .mail-card, .truck-card {
        flex-direction: column;
        width: 100%;  
        padding: 30px 20px;  
        align-items: center;   
        text-align: center;     
        box-sizing: border-box; 
    }
}



.mail-card {
    background-color: var(--bg-primary);
    max-width: 540px;
    display: flex;
    padding: 35px 40px 35px 40px;
}

.mail-text {
    color: #FFFFFF;
}

.bonus {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    max-width: 250px;
} 

.giveaway {
    font-weight: 400;
    font-size: 14px;
    max-width: 231px;
}

.enter-email {
    max-width: 225px;
    border: none;
    margin-top: 25px;
    color: #C4C4C4;
    border-radius: 30px;
    padding: 9px 25px;
    font-size: 14px;
    font-weight: 400;
}

.mail-img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 65px;
}

@media (max-width: 420px) {
    .mail-img {
        margin-left: 0px;
        margin-top: 24px;
    }
}

.enter {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    max-width: 250px;
}

.shops {
    font-weight: 400;
    font-size: 14px;
    max-width: 141px;
}

@media (max-width: 420px) {
    .shops {
        margin-left: 5px;
        max-width: 160px;
    }
}

.map-button {
    margin-top: 25px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid;
    border-color: #FFFFFF;
    background-color:transparent;
    border-radius: 30px;
    border-width: 3px;
    padding: 9px 29px;
    box-shadow: none;
}

.truck-card {
    background-color: var(--bg-primary);
    max-width: 540px;
    display: flex;
    padding: 35px 40px;
}

.truck-img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 90px;
}

@media (max-width: 420px) {
    .truck-img {
        margin-left: 14px;
        margin-top: 24px;
    }
}

.impuls-section {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.impuls-container {
    display: block;
    max-width: 149px;
    border: 1px solid;
    border-color: #EFEFEF;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 65.5px;
}

@media (max-width: 1024px) {
    .impuls-container {
    padding: 20px 44px;
    }
}

@media (max-width: 768px) {
    .impuls-container {
    padding: 30px 102px;
    }
}

@media (max-width: 420px) {
    .impuls-container {
    padding: 30px 104px;
    }
}

.popular {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    max-width: 99px;
    margin-bottom: 30px;
}

.special-categories {
    margin-bottom: 60px;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        
    }
}

.menu-column {
    box-sizing: border-box;
    margin-right: 30px;
    flex-grow: 1;
}

.menu-column + .menu-column {
    margin-right: 30px;
}

.menu-column li {
    color: #828282
}

.popular-item {
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
    max-width: 82px;
    line-height: 28px;
}

.icons-and-cell {
    margin-top: 37px;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .icons-and-cell {
        flex-direction: column-reverse;
        gap: 30px;
    }
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cell-and-btn {
    display: flex;
    align-items: center;
}

.cell-and-btn a {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

.cell {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

@media (max-width: 420px) {
    .cell {
        font-size: 14px;
    }
}

.call-btn {
    min-width: 170px;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 40px;
    border: 2px solid;
    border-color: var(--bg-primary);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.rights-footer {
    background-color: var(--bg-secondary);
    padding-top: 25px;
    padding-bottom: 25px;
}

.best-shop {
    font-size: 12px;
    color: #828282;
    max-width: 584px;
}

.policy {
    font-size: 12px;
    color: #828282;
    max-width: 181px;
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .flex-justify {
        flex-direction: column;
        gap: 20px;
    }
}

.icons-circle {
    border: 2px solid var(--bg-primary);
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}